USE [master]
GO
/****** Nesnesi: Database [MeetingApp] Betik Tarihi: 5.08.2026 11:50:16 ******/
CREATE DATABASE [MeetingApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeetingApp', FILENAME = N'C:\Users\pc\MeetingApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeetingApp_log', FILENAME = N'C:\Users\pc\MeetingApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeetingApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeetingApp]
GO
/****** Nesnesi: Table [dbo].[Companies] Betik Tarihi: 5.08.2026 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Reservations] Betik Tarihi: 5.08.2026 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoomId] [int] NULL,
	[Date] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CancelReason] [nvarchar](max) NULL,
	[CompanyId] [int] NULL,
	[Attendees] [nvarchar](max) NULL,
	[Title] [nvarchar](100) NULL,
	[TransactionDate] [date] NULL,
	[TransactionTime] [time](7) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Rooms] Betik Tarihi: 5.08.2026 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
	[HasProjector] [bit] NULL,
	[CompanyId] [int] NULL,
	[IsActive] [bit] NULL,
	[PassiveReason] [nvarchar](100) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Users] Betik Tarihi: 5.08.2026 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NULL,
	[CompanyId] [int] NULL,
	[IsActive] [bit] NULL,
	[PassiveReason] [nvarchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Name]) VALUES (1, N'A Şirketi')
INSERT [dbo].[Companies] ([Id], [Name]) VALUES (2, N'B Şirketi')
INSERT [dbo].[Companies] ([Id], [Name]) VALUES (3, N'C Şirketi')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [UserId], [RoomId], [Date], [StartTime], [EndTime], [Description], [Status], [CancelReason], [CompanyId], [Attendees], [Title], [TransactionDate], [TransactionTime]) VALUES (20003, 2002, 10004, CAST(N'2026-08-01' AS Date), CAST(N'14:01:00' AS Time), CAST(N'15:01:00' AS Time), N'f', NULL, NULL, 3, N'4002', N'son rez deneme', CAST(N'2026-07-31' AS Date), CAST(N'14:01:07.1381195' AS Time))
INSERT [dbo].[Reservations] ([Id], [UserId], [RoomId], [Date], [StartTime], [EndTime], [Description], [Status], [CancelReason], [CompanyId], [Attendees], [Title], [TransactionDate], [TransactionTime]) VALUES (28003, 4013, 15005, CAST(N'2026-08-05' AS Date), CAST(N'12:22:00' AS Time), CAST(N'13:24:00' AS Time), N's', NULL, NULL, 1, N'4015, 4014, 2002', N'Değerlendirme', CAST(N'2026-08-05' AS Date), CAST(N'10:21:57.7968089' AS Time))
INSERT [dbo].[Reservations] ([Id], [UserId], [RoomId], [Date], [StartTime], [EndTime], [Description], [Status], [CancelReason], [CompanyId], [Attendees], [Title], [TransactionDate], [TransactionTime]) VALUES (28004, 4019, 15009, CAST(N'2026-08-14' AS Date), CAST(N'11:22:00' AS Time), CAST(N'12:22:00' AS Time), N'sd', NULL, NULL, 3, N'4002, 4010, 4008', N'sdsd', CAST(N'2026-08-05' AS Date), CAST(N'10:22:18.1433687' AS Time))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Name], [Capacity], [HasProjector], [CompanyId], [IsActive], [PassiveReason]) VALUES (10004, N'Toplantı Odası 8 (Pasif)', 8, 1, 3, NULL, N'projeksiyon bozuldu')
INSERT [dbo].[Rooms] ([Id], [Name], [Capacity], [HasProjector], [CompanyId], [IsActive], [PassiveReason]) VALUES (15003, N'Toplantı Odası 1', 12, 1, 1, NULL, NULL)
INSERT [dbo].[Rooms] ([Id], [Name], [Capacity], [HasProjector], [CompanyId], [IsActive], [PassiveReason]) VALUES (15004, N'Toplantı Odası 2', 15, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Department], [Password], [Role], [CompanyId], [IsActive], [PassiveReason]) VALUES (2002, N'Özlem', N'Şen', N'ozlemsen381@gmail.com', N'IT', N'b85147c93e44f24ceffbc39260f14a3cc0f272a999c20276da1dc4ff1f2a3909', N'Admin', NULL, 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Department], [Password], [Role], [CompanyId], [IsActive], [PassiveReason]) VALUES (4002, N'Ayşe', N'Yılmaz', N'ayse@sirket.com', N'IT', N'a53bdc4ef2fdec6d3ca4a689aa4dca2ee9ee383d124de3599a30dc38cd7586be', N'Yönetici', 3, 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Department], [Password], [Role], [CompanyId], [IsActive], [PassiveReason]) VALUES (4003, N'Burak ', N'Kaya', N'burak@sirket.com', N'İnsan Kaynakları', N'0a01a430a5249a6a0dc8dfe12b4b21f2847ea07695b211a0bdaa34e69c2a87e0', N'Yönetici', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
